@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    color: white;
    background-color: black;
  }

 header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
  }

  header > h1 {
    text-align: center;
    font-size: 3vh;
  }
  header > img{
    height: 37vh;
  }

  main{
    height: 54vh;
    position: relative;
  }

  .textoIntro{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 20vh;
  }

  .texto1{
    margin: 2vh;
  }

  .texto1 > p {
    font-size: 1.2vh;
    margin: 1vh;
  }

  .iguana1{
    margin: 2vh 5vh 0 0;
    width: 20vh;
    height: 14vh;
  }
  
  .caracteristicas{
    height: 15vh;
    text-align: center;
    background-color: rgb(51, 59, 19);
  }

  .caracteristicas > h2{
    background-color: rgb(51, 59, 19);
    padding-top: 2vh;
  }

  .cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    background-color: rgb(51, 59, 19);
  }

  .card{
    background-color: rgb(51, 59, 19);
  }

  .card > p{
    margin-top: 2vh;
    background-color: rgb(51, 59, 19);
  }
  
  .card > i{
    background-color: rgb(51, 59, 19);
  }

  .galeria{
    height: 20vh;
    display: flex;
    justify-content: space-evenly;

  }

  .galeria > img{
    width: 20vh;
    height: 12vh;
    margin: 4vh 0 4vh 0;
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: rgb(51, 59, 19);
  }
  footer > p{
    background-color: rgb(51, 59, 19);
  }